<link rel="stylesheet" href="/CSS/games/visual/simon.css">
<script src="/JS/games/visual/Simon/simonbajo.js"></script>
<header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <h1>MemoryMaster</h1>

            </div>
        </div>

        <section class="banner contenedor">

     <div class="wrap">
<div class="wrap-in">
  <div class="rw">
    <div class="t-l inline push green unclickable" id='3' ></div><div class="t-r inline push red but unclickable" id='2'></div>
  </div>
  <div class="rw">
    <div class="b-l inline push yellow unclickable" id='1'></div><div class="b-r inline push blue but unclickable" id='0'></div>
  </div>
</div>
   <div class="center">
     <h1 class="brand">Simon<span class="small">®</span></h1>
     <div class="rw">
       <div class="display inline">
         <h1 class="count led-off">--</h1>
         <h3 class="label">Contador</h3>
       </div>
       <div class="btn-box inline">
         <div class="round-btn full-red but clickable" id="start"></div>
         <h3 class="label">Empezar</h3>
       </div>
     </div>
  </div>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://raw.githubusercontent.com/shinnn/AudioContext-Polyfill/master/audiocontext-polyfill.js'></script><script  src="./script.js"></script>

            <section class="banner contenedor">




        </div><div id="volver"><a href="/niveleseconica" id="vuevle"><input type="submit" value="Volver" class="btn solid" /></a></div>
        </article>
    </section>

    <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
</header>
