<header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">

            </div>
        </div>

        <section class="banner contenedor">
            <section class="banner_titlee">
                <h2>MemoryMaster</h2>
                <h3>¿Te ayudamos con tu mente?</h3>
            </section>
            <section class="banner_titlee">
                <a href="/login" class="llamanos">Iniciar</a>
            </section>
            <div class="bannerr_img">
                <img src="/IMG/pngwing.com.png" alt="">
            </div>
        </section>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
  </header>
