<header class="bg_animate">
<link href="/CSS/menu.css" rel="stylesheet">
    <nav>
        <h1>MemoryMaster</h1>
        <div class="nav__list">
            <a href="/perfil">Perfil</a>
            <a href="/logout">Cerrar Sesión</a>

        </div>
    </nav>

    <section>
        <div class="one contenedor">
            <a href='/estresado' class='llamanos'>
                <div class="caja">
                Juegos para Desestresar
                </div>
            </a>
            <a href="/tipodememoria" class="llamanos">
                <div class="caja">
                Juegos de Memoria
                </div>
            </a>
            <a href="https://charsito12.herokuapp.com" class="llamanos">
                <div class="caja">
                Chat
                </div>
            </a>
        </div>
        <div class="dos">
            <img src="/img/kisspng-4-pics-1-word-word-brain-thought-action-game-snoring-transparent-png-5a76bf36785379.6988479815177316384929.png" alt="relax">
        </div>
    </section>

    <div class="burbujas">
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
        <div class="burbuja"></div>
    </div>

</header>
